@import '/src/style/variables.scss';

.header{
    &__wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #202024;
        z-index: 100;
        max-height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
    }

    &__logo, &__user{
        padding: 0px 20px;
        min-width: 100px;
    }

    &__user{
        // margin: 0 auto;
        text-align: right;
    }

    &__search{
        flex: 0 1 732px;
        // margin: 0px 50px;
    }
}