@import '/src/style/variables.scss';

.nav-bar{
    position: fixed;
    z-index: 100;
    height: 100%;
    margin: 72px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;

    padding: 30px 20px 0px;
    background: $main-bg-color;

    &__item{
        text-align: center;
        color: $nav-item-color;
        border-radius: 15px;
        padding: 10px 15px;
        cursor: pointer;

        &_active{
            background: $active-item-bg;
            color: $nav-active-item-color;
        }

        &:hover{
            background: $active-item-bg;
        }

        svg{
            color: $nav-item-color;
            fill: currentColor;
            stroke: none;
            margin: 0 auto 5px;
        }
    }
}