@import '/src/style/variables.scss';

.video-page{
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    column-gap: 2rem;
    min-height: calc(100vh - 5px - $header-height);
    padding: 25px 10px;

    .video-column{
        grid-column: span 8/span 8;
        // width: 52vw;
        // height: 50vh;
        // height: calc(100% - $header-height - 55px);
    }
}