@import url('./reset.scss');
@import '/src/style/variables.scss';

.main-content{
    // padding-bottom: $header-height;
    width: 100%;
    max-height: 100%;
    // margin-top: $header-height;
    // margin: $header-height + $categories-height 0px 0px $navbar-width;
    margin: $header-height 0px 0px $navbar-width;
    // overflow-y: auto;
}

.portal{
    position: fixed;
    right: 20px;
    top: 90vh;
    color: #ffffff;
}

.status-message{
    background: #000000;
    color: #ffffff;
    padding: 12px 20px;
    border: 1px solid #333;
    max-width: 300px;
    width: 250px;
    border-radius: 10px;
}

* {
    scrollbar-width: 7px;
    scrollbar-color: $main-bg-color;
}

*::-webkit-scrollbar {
    width: 7px;
    // height: 7px;
}
*::-webkit-scrollbar-track {
    background: $main-bg-color;
}
*::-webkit-scrollbar-thumb {
    background: #ffffff75;
    border-radius: 10px;

    &:hover{
        background: #ffffffe3;
    }
}