@import "/src/style/variables.scss";
@import "/src/style/mixins.scss";

.channel {
    display: flex;
    flex-direction: row;

    min-width: calc(50% - 6px);
    flex: 1 1;
    flex-basis: 1e-9px;

    &-info {
        display: flex;
        /* align-items: flex-start; */
        flex-direction: row;
        min-width: 0;
    }

    &-statistics {
        flex: 1;
        flex-basis: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 5px 0px 8px;
        overflow: hidden;
    }

    &-title {
        @include ellipsis();
    }

    &-subs-count {
        font-size: 12px;
        color: #aaaaaa;
        @include ellipsis();
    }

    &-subscribe__btn {
        align-self: center;
        min-width: 0;
        flex-basis: 200px;
        margin: 0px 0px 0px 25px;

        button {
            width: 100%;
            background-color: #f1f1f1;
            color: $main-bg-color;
            // border: 2px solid #24262a;
            border-radius: 20px;
            padding: 5px 0px;

            &.subscribed {
                border: 2px solid #24262a;
                background-color: transparent;
                color: #f1f1f1;

                &:hover {
                    background: #24262a;
                }
            }

            &:hover {
                background-color: #d9d9d9;
                border-color: transparent;
            }
        }
    }
}
